* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ca8e7e;
  color: white;
}

#main {
  text-align: center;
}

img {
  width: 15rem;
}

#stopwatch {
  margin: 2rem;

  color: white;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button {
  width: 7rem;
  height: 2.5rem;

  color: white;
  background: #c34120;

  border: none;

  cursor: pointer;
}

.button:hover {
  background: #eb7358;
}

.button:hover {
  color: black;
}

li:hover .removeTime {
  opacity: 1;
  display: inline;
}

.removeTime {
  cursor: pointer;

  color: #fff;
  background: red;

  border: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;

  opacity: 0;
  display: none;

  transition: opacity 0.3s ease;
}
